.header {
    display: flex;
}

.header__title {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;

    color: var(--black);
    margin: 96px 0 0 160px
}