.card {
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    background: var(--white);
    display: grid;
    grid-template-rows: auto 1fr;
}

.card__title {
    font-family: Inter, sans-serif;
    color: var(--grey-4);
}

@media only screen and (max-device-width: 768px) {
    .card {
        padding: 0 16px;
    }
    
    .card__title {
        font-size: 20px;
        line-height: 24px;
    }
}

@media only screen and (min-device-width: 768px) {
    .card {
        padding: 0 48px;
    }

    .card__title {
        font-size: 28px;
        line-height: 38px;
    }
}