.page {
    height: 100%;
    margin: 0 auto;
    background: var(--backgroud);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 36px;
}

.page__header {
    background: var(--white);
    min-height: 82px;
    max-width: 1110px;
    width: 100%;
    align-content: center;
    justify-self: center;
    display: grid;
    grid-template-columns: auto 1fr;
}

.page__header-nav {
    justify-self: right;
}

.page__main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 56px;
    max-width: 1110px;
    width: 100%;
    justify-self: center;
    align-items: start;
}

.page__card {
    align-self: stretch;
}

.page__footer {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100px;
    
    background: var(--grey-3);
}

.page__footer-text {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
}

.menu {
    width: 229px;
}

.component {
}

.page__components {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    row-gap: 30px;
    flex-wrap: wrap;
    margin: 0 -15px;
    align-content: flex-start;
}

.page__component-item {
    width: calc(33% - 30px);
    height: 350px;
    margin: 15px;
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-end;
    align-items: center;
    
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
} 

.page__component-preview {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    padding: 0 16px 0 16px;
    width: 100%;
}

.page__component-preview-image {
    max-width: 100%;
    max-height:100%;
}

.page__component-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    justify-content: center;
    color: var(--black);
}