.page {
    max-width: 1000px;
    margin: 0px auto;
    background: var(--backgroud);
}

.page__title {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;

    color: var(--black);
    margin: 96px 0 0 160px
}

.page__item {
    padding: 32px;
}

.page__item-button {
    padding: 16px;
}

.page__footer-title {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
}

.page__footer-content {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 24px;

    text-align: center;
}

.page__components {
    display: flex;
    flex-direction: column;
    margin: 32px; /* TODO: better implementation */
    row-gap: 30px;
}

.page__component-row {
    display: flex;
    width: 100%;
    justify-content: stretch;
    column-gap: 30px;
}

.page__component-item {
    width: 33%;
    height: 350px;
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-end;
    align-items: center;
    
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}

.page__component-preview {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    padding: 0 16px 0 16px;
    width: 100%;
}

.page__component-preview-image {
    max-width: 100%;
    max-height:100%;
}

.page__components-title {
    flex-grow: 0;
    
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    justify-content: center;
    color: var(--black);
}