.menu {
    display: grid;
    grid-template-columns: auto;
    justify-items: start;
    align-items: start;
    grid-row-gap: 4px;
}

.menu__title {
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 26px;
    margin-block-start: 0;
    color: var(--black);
}

.menu__item {
    font-size: 14px;
    line-height: 22px;
    margin-block: 0;
    color: var(--black);
}

.menu__item-gap {
    margin-block: 11px;
}

.menu__item_selected {
    color: var(--selected);
}